@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
.vidbg-container {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.vidbg-container video {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.25s opacity ease-in-out;
  max-width: none;
  opacity: 0;
}

.vidbg-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  background-color: #010001;
  padding-top: 53px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo {
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}
header .main-nav__item a {
  color: #fff;
}
header .sec-nav__item a {
  color: #808080;
}

main {
  padding-top: 120px;
}
main .present {
  text-align: center;
}
main .present__h {
  font-weight: normal;
  font-size: 64px;
  line-height: 75px;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  margin-bottom: 25px;
}
main .present__subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  max-width: 268px;
  margin: auto;
}
main .present__subtitle::after {
  content: "";
  height: 59px;
  display: block;
  width: 1px;
  background-color: #fff;
  margin: auto;
  margin-top: 26px;
  margin-bottom: 10px;
}
main .info {
  margin-top: 300px;
  margin-bottom: 450px;
  position: relative;
}
main .info__h {
  color: #fff;
  font-family: "Roboto", sans-serif;
  max-width: 177px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 140%;
  text-transform: uppercase;
  margin-bottom: 40px;
}
main .info__table {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 179.69%;
  margin-bottom: 200px;
}
main .info__table span {
  color: #B2B0B2;
}
main .info__table td {
  padding-top: 5px;
  padding-bottom: 5px;
}
main .info__table-h {
  padding-right: 130px;
}
main .info__text {
  color: #fff;
  font-family: "Roboto", sans-serif;
  width: 490px;
  font-weight: normal;
  font-size: 16px;
  line-height: 29px;
}
main .info .rellax {
  position: absolute;
  top: 120px;
  right: 177px;
  width: 291px;
  height: 1718px;
  z-index: 99;
}

.footer {
  text-align: center;
}
.footer__nav {
  margin-bottom: 28px;
}
.footer__list {
  display: flex;
  justify-content: center;
}
.footer__item {
  margin: 0 10px 0 10px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}
.footer__item a {
  color: #fff;
}
.footer__descriptor {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #808080;
  margin-bottom: 30px;
}
.footer__descriptor a {
  color: #808080;
}
.footer__button {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  background: none;
  border: 2px solid #fff;
  border-radius: 6px;
  width: 260px;
  height: 60px;
}
.footer .logo {
  margin-bottom: 40px;
}

.video {
  max-width: 1230px;
  margin: auto;
  height: 750px;
}

.list {
  display: flex;
}

.list-item {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: 14px;
  margin: 0 10px 0 10px;
}

.container {
  margin: 0 auto;
  max-width: 1230px;
}