@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import "vidbg.scss";
/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
html {
    ::-webkit-scrollbar {
        width: 10px;

        background-color: #010001;
      }
   
      ::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background-color: rgba(77, 77, 77, 0.5);
      }
    
}
body {
    background-color: #010001;
    padding-top: 53px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        pointer-events: none;
    }
    .main-nav {
        &__item {
            a {
                color: #fff;
            }
        }
    }
    .sec-nav {
        &__item {
            a {
                color: #808080;
            }
        }
    }
}
main {
    padding-top: 120px;
    .present {
        text-align: center;
        &__h {
            font-weight: normal;
            font-size: 64px;
            line-height: 75px;
            font-family: 'Roboto', sans-serif;
            color: #FFFFFF;
            margin-bottom: 25px;
        }
    
        &__subtitle {
            font-weight: normal;
            font-size: 16px;
            line-height: 140%;
            font-family: 'Roboto', sans-serif;
            color: #FFFFFF;
            max-width: 268px;
            margin: auto;
            &::after {
                content: '';
                height: 59px;
                display: block;
                width: 1px;
                background-color: #fff;
                margin: auto;
                margin-top: 26px;
                margin-bottom: 10px;
            }
        }
    }
    .info {
        margin-top: 300px;
        margin-bottom: 450px;
        position: relative;
		&__h {
            color: #fff;
            font-family: 'Roboto', sans-serif;
            max-width: 177px;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 140%;
            text-transform: uppercase;
            margin-bottom: 40px;
		}

		&__table {
            color: #fff;
            font-family: 'Roboto', sans-serif;
            font-weight: normal;
            font-size: 18px;
            line-height: 179.69%;
            margin-bottom: 200px;
            span {
                color: #B2B0B2;
            }
            td {
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }
        &__table-h {
           padding-right: 130px;
        }

		&__text {
            color: #fff;
            font-family: 'Roboto', sans-serif;
            width: 490px;
            font-weight: normal;
            font-size: 16px;
            line-height: 179.7%;
        }
        .rellax {
            position: absolute;
            top: 120px;
            right: 177px;
            width: 291px;
            height: 1718px;
            z-index: 99;
        }
    }
}
.footer {
    text-align: center; 
    padding-bottom: 130px;
    &__nav {
        margin-bottom: 28px;
    }

    &__list {
        display: flex;
        justify-content: center;   

    }

    &__item {
        margin: 0 10px 0 10px;
        font-family: 'Roboto', sans-serif;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        
        a {
            color: #fff;
        }
    }

    &__descriptor {
        font-family: 'Roboto', sans-serif;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: #808080;
        margin-bottom: 30px;
        a {
            color: #808080;
        }
    }

    &__button {
        font-family: 'Roboto', sans-serif;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: #fff;
        background: none;
        border: 2px solid #fff;
        border-radius: 6px;
        width: 260px;
        height: 60px;
    }
    .logo {
        margin-bottom: 40px;
    }
}

.video {
    max-width: 1230px;
    margin: auto;
    height: 750px;
}
.list {
    display: flex;
}
.list-item  {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    line-height: 14px;
    margin: 0 10px 0 10px;
}
.container {
    margin: 0 auto;
    max-width: 1230px;
}
@import "rocketadaptive.scss";
@import "mobile.scss";